*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    
    
}

header{
    position:  fixed;
    top: 0px;
    width: 100%;
    background-color: #000080;
    color: #F8C415;
    height: 7vh;
    display: flex;
    align-items: center;
    z-index: 10000000;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hright{
    
    width: 20%;
    justify-content: space-evenly;
    position: absolute;
    right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hright a {
    color: #F8C415;
}

.hleft{
    position: absolute;
    left: 50px;
    font-size: 28px;
}

.Introduction{
    position: relative;
    margin-top: 9vh;
    margin-left: 10%;
    width: 80%;
    height: 400px;
    background-color: coral;
    border-radius: 10px;
   display: flex;
   flex-direction: row;
}

.picture img{
    margin-top: 50px;
    margin-left: 100px;
    height: 300px;
    border-radius: 50%;
}

.int1{
    width: 70%;
    margin-left: 40px;
    margin-top: 150px;
}

.int1 p{
    color: white  
}
.garisbesar{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.bataskiri{
    width: 60%; 
}

.garis{
    width: 100%;
    border: 5px solid green;
}

.batastengah{
    position: relative;
    width: 20%;

}
.batastengah h1{
    text-align: center;
    justify-items: center;
    color: blue;
}

.bataskanan{
    background-color: #000080;
    width: 20%;
}

.garis2{
    width: 100%;
    border: 5px solid red;
}

.contact{
    width: 75%;
    height: 400px;
    margin-left: 12.5%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    display: flex;
    align-items: center;
    width: 20%;
}

.logo img{
    width: 200px;
}

.hright div a:hover{
    color: white;
}

.garisbesar1{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.bataskiri2{
    width: 20%;
}

.batastengah2{
    width:20%;
}

.bataskanan2{
    width: 60%;
}

.Portofolio{
    width: 75%;
    height: 400px;
    margin-left: 12.5%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.porto-logo img{
    width: 300px;
}

footer{
    width: 100%;
    height: 8vh;
    background-color:#000080;
    display: flex;
    align-items: center;
}

.leftfooter{
    position: relative;
    color: #F8C415;
    left: 40px;
}

.rightfooter{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 40px;
    color: #F8C415;
}
.rightfooter h3{
    margin-right: 20px;
}
.rightfooter img{
    width: 50px;
}








